@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}
.container {
	width: 960px;
	margin:0 auto;
	padding: 0 auto;
	height:auto;
	z-index: 1;
	
}
.col-01 {
	width: 8.33%;
}
.col-02 {
	width: 16.66%;
}
.col-03 {
	width: 25%;
}
.col-04 {
	width: 33.33%;
}
.col-05 {
	width: 41.66%;
}
.col-06 {
	width: 50%;
}
.col-07 {
	width: 58.33%;
}
.col-08 {
	width: 66.66%;
}
.col-09 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
[class*="col-"] {
 float: left;
 padding:10px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
.img-res{width:100%; height:auto}
.fleft{float:left}
.fright{ float:right}
